.grid-container {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 12rem max-content 8rem;

  align-items: center;

  justify-items: center;
}

.grid-item {
  padding: 1rem;
}

.mainGrid {
  display: grid;
  grid-template-columns: 70rem 60rem 55rem;
}
